* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  background-color: rgb(255, 255, 255);
}

#calculadora {
  width: 20rem;
}

#calculadora .card-header{
  background-color: black;

}

#calculadora .card-body{
  background-color: #5286FF;
}

#calculadora #display {
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color: white;
}

#calculadora button {
  margin: 5px;
  height: 3em;

}

calculadora .buttton-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 16pt;
}